ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

li {
    float: left;
}

li a {
    background-color: lightgray;
    display: block;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

li a:hover {
    background-color: slategray;
}

.center-div {
    margin: 0 auto;
    width: 100px;
}